User Show Page

<h2> Welcome </h2>
<h2> <%= format_name(@user) %> </h2>
- use scope count to count how many rooms **

- display realor in drop down menu ?

- display realtor comments on room page

<%= link_to 'See all Realtors', realtors_path %>