<div id='header'>
  <h3>Rooms Dashboard</h3>
</div>



<% @rooms.each do |room| %>
<div class='card'>
  <p><%= link_to "#{room.name.capitalize}", room %></p>
</div>
<% end %>


<p><%= link_to 'Add Room', new_room_path %></p>